body{
    padding: 0;
    margin: 0;
    background-color: #6BBFA0;
}
header{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: #fff;
    margin-top: 40px;
}
.nav{
    width: 95%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-right{
   width: 50%;
   height: auto;
   font-size: 1.2rem;
   text-align: end;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.nav-left{
    width: 50%;
    height: auto;
    font-size: 1.2rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
section{
    width: 100%;
    height:calc(100vh - 100px);
    display: flex;
    align-items:center;
    justify-content: center;

}
.main-section{
    width:50%;
    height: 200px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}
.main-section > span{
    font-size: 1.5em;
    margin-bottom: 20px;
}
.main-section > input{
    width: 50%;
    height: 40px;
    border: none;
    border-bottom: 2px solid #6BBFA0;
    font-size: 1.5em;
    outline: none;
}
.main-section input :active{
    border-bottom: 2px solid #171918;
}
.main-section button{
    width: 60px;
    height: 30px;
    margin-top: 20px;
    border: none;
    background-color: #6BBFA0;
    color: #fff;
    border-radius: 7px;
}