body{
    padding: 0;
    margin: 0;
    background-color: #c8f4e4;
}
.counter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.counter.hide {
    transform: translate(-50%, -50%) scale(0);
    animation: hide .5s ease-out;
}

@keyframes hide {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        transform: translate(-50%, -50%) scale(0);
    }
}

.final {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
}

.final.show {
    transform: translate(-50%, -50%) scale(1);
    animation: show .3s ease-in;
}

@keyframes show {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }

    80% {
        transform: translate(-50%, -50%) scale(1.4);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.nums {
  color:#000000;
  position: relative;
  font-size: 4em;
  overflow: hidden;
  width: 250px;
  height: 50px;
}

.nums span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(120deg);
  transform-origin: bottom center;
}

.nums span.in {
    transform: translate(-50%, -50%) rotate(0deg);
  animation: goIn .5s ease-in-out;
}

.nums span.out {
  animation: goOut .5s ease-in-out;
}

@keyframes goIn {
  0% {
    transform: translate(-50%, -50%) rotate(120deg);
  }
  30% {
    transform: translate(-50%, -50%) rotate(-20deg);
  }

  60% {
    transform: translate(-50%, -50%) rotate(10deg);
  }

  90%, 100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

}

@keyframes goOut {
  0%, 30% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  60% {
    transform: translate(-50%, -50%) rotate(20deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-120deg);
  }
}

h4 {
  font-size: 3em;
  margin: 5px;
  text-transform: uppercase;
}
.quiz{
  width: 550px;
  height: 400px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

}
.questine{
  width: 500px;
  height: 100px;
  display: flex;
  align-items: end;
  justify-content: center;
}
.answer{
  width: 500px;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.answer ul{
   width: 450px;
   height: 200px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-direction: column;
   padding: 0px;
}
.answer ul li{
  width: 500px;
  height: 30px;
  background-color: #fff;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.answer ul li :nth-child(1){
   width: 30px;
   height: 30px;
   margin-right:10px ;
   background-color: #6BBFA0;
   display: flex; 
   align-items: center;
  justify-content: center;
}
.answer ul li :nth-child(2){
  width: 470px;
  height: 30px;
  margin-right:10px ;
  display: flex; 
  align-items: center;
  justify-content: center;
  border:1px solid #000;
}
.answer ul li :nth-child(2):hover{
  background-color: #d6d5d5;
}
.q-no{
  width: 30px;
}
.btn{
  width: 200px;
  height: 30px;
  background-color: #6BBFA0;
  border: none;
}
.btn:hover{
  background-color: #2b8161;
}